<!DOCTYPE html>
<html ng-app="app">
  <head>
    
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width" />
    <base href="/"> <!--pretty urls, no #-->


    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/angular/angular.js'></script>
    <script src='/bower_components/angular-module/angular-module.js'></script>
    <script src='/bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>     
    <script src='/bower_components/angular-socket-io/socket.min.js'></script>
    <script src='/bower_components/highcharts/highstock.js'></script>
    <script src='/bower_components/highcharts/highcharts.js'></script>
    <source src='/bower_components/highcharts/modules/solid-gauge.js'></script>
    <script src='/bower_components/highcharts/highcharts-more.js'></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <!--<script src='/bower_components/highcharts-annotations/js/annotations.js'></script>-->
    <script src='/bower_components/highcharts-ng/dist/highcharts-ng.js'></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        var socket = io();
    </script>

    <script src='app/app.js'></script>
    <script src='app/services/mySocket.js'></script>
    <script src='app/default/default.ctrl.js'></script>


    <title><%= title %></title>
  </head>
  <body> 
    <div class='container-fluid' ui-view> <!--TODO: might need  style='height: 99%' to stretch dygraphs-->
    </div>      
  </body>
  
</html>